/*=================GENERAL============*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

button {
  padding: 10px 24px;
  font-size: 15px;
  font-weight: 300;
  margin: 15px; }

a {
  text-decoration: none;
  color: #000; }

ul {
  margin: 0;
  padding: 0; }

.center {
  text-align: center; }

.inline li {
  display: inline-block; }

.no-inline {
  display: list-item; }

/*============PAGINA DE CONSTRUCCION============*/
.construction {
  background-image: url("../public/images/construccion.png");
  background-position: center;
  background-size: 700px;
  background-repeat: initial; }

/*=======HEADER Y NAVEGADOR GENERAL==========*/
header {
  background-color: #000;
  position: sticky;
  top: 0px;
  text-align: center;
  z-index: 10;
  padding: 5px; }

.nav-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }

.logo {
  width: 150px;
  height: auto; }

.search-bar button {
  width: 30px;
  height: 35px;
  background-image: url(../public/images/lupa.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; }

.search-bar input {
  margin: 0;
  height: 30px;
  width: 400px; }

#button-nav {
  border-radius: 3px;
  height: 42px; }

#button-nav a {
  font-size: 15px; }

/*==================Navegador 2================*/
.nav-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  transition: all 250ms ease-in-out; }

.nav-2 div:hover {
  transform: scale(1.2); }

.nav-2 div a:hover {
  border-bottom: solid 2px #fff; }

.button-navSecundary {
  margin: 0;
  padding: 0; }
  .button-navSecundary div {
    background-color: #000;
    margin: 0;
    color: #fff;
    padding: 10px;
    margin: 5px;
    font-weight: 500; }
    .button-navSecundary div a {
      color: #fff;
      padding: 5px;
      margin: 10px;
      font-weight: 500; }

/*=======INDEX MAIN==========*/
.carousel-h {
  height: 400px; }

.main-bar {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #fff; }

.bar-primary {
  font-weight: 500; }

/*=======INDEX SECTION 1==========*/
.section-index1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.section-index1 p {
  font-weight: 500;
  margin: 0;
  color: #fff;
  font-size: 20px; }

.back-guitar {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/images/background-guitar.jpg); }

.back-drum {
  height: 300px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/images/background-drum.jpg); }

#p-1g {
  color: #ff9910;
  font-size: 30px; }

#p-2g {
  border: solid 1px #fff;
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 100px; }

/*=======INDEX SECTION 2==========*/
.h1-section2 {
  transform: translateX(30px);
  width: fit-content; }

/*=======INDEX SECTION 3==========*/
.section-index3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px; }

.section3-img {
  width: 100px;
  height: auto; }

/*=======INDEX SECTION 4==========*/
.img-center {
  transform: translateX(30px);
  width: max-content;
  height: auto; }

/*=======INDEX SECTION 5==========*/
.div-about {
  font-weight: 500;
  text-align: justify;
  padding: 10px;
  margin: 0; }

.div-formulario {
  font-weight: 500;
  text-align: center;
  padding: 15px; }

.chat img {
  height: auto;
  width: 75px;
  position: fixed;
  bottom: 10px;
  right: 15px; }

.size-iframe {
  width: 350px;
  height: 400px; }

/*=======PRODUCTOS==========*/
.main-titleGuitar {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/guitarra-main.jpg);
  background-position: center; }

.main-title h3 {
  font-size: 40px;
  color: #fff;
  width: fit-content; }

.main-title h1 {
  font-size: 100px;
  color: #ff9910; }

.sidebar {
  border-right: solid 1px gray;
  padding-left: 10px;
  margin: 5px; }

.list-items li {
  list-style-type: none;
  font-weight: 500;
  text-align: center;
  font-size: 20px; }

.sidebar h2 {
  text-align: center; }

.main-titleDrums {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/bateria-main.jpg);
  background-position: center 60%; }

.main-titleBass {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/bajo-main.jpg);
  background-position: center; }

.main-titleAccesorios {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/accesorios-main.jpg);
  background-position: center 40%; }

.main-titleClassic {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/classic-main.jpg);
  background-position: center; }

.main-titleCourse {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/images/course-main.jpg);
  background-position: center 40%; }

/*==============FOOTER=============*/
footer {
  background-color: #000; }

footer p {
  color: #fff; }

footer li a {
  color: #fff; }

.footer-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.img-sizeRed {
  width: 40px;
  height: 40px; }

.footer-nav ul li {
  margin: 10px;
  padding: 10px; }

.footer-nav {
  transition: all 500ms ease-in-out; }

.footer-nav ul li:hover {
  transform: scale(1.2); }

.footer-nav ul li a:hover {
  border-bottom: solid 2px #fff;
  color: #fff; }

/*=========CONTACTO=============*/
.main-titleContact {
  height: 200px;
  background-image: url(../public/images/contact-main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 75%; }

.title-stores h1 {
  border-bottom: solid 3px #ff9910;
  font-size: 90px; }

.title-stores h2 {
  border-bottom: solid 3px #ff9910;
  font-size: 45px; }

.title-stores h3 {
  border-bottom: solid 3px #ff9910;
  font-size: 30px; }

.list-contact {
  list-style: none;
  font-weight: 500;
  padding-left: 20px; }

.title-marl {
  margin-left: 3rem; }

.contact-iframe {
  width: fit-content;
  height: 300px; }

.h3-contact {
  width: fit-content; }

/*=========CARRITO=========*/
.cart {
  border: solid 2px #000;
  text-align: center;
  height: 350px;
  width: 800px; }

.cart-img {
  width: 100px;
  height: auto; }

#button-cart a {
  color: #fff; }

#h1-cart {
  transform: translateX(200px);
  width: 400px; }

/*=========CUENTA=============*/
.account {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center; }

.message {
  font-weight: 500;
  color: gray;
  font-size: 15px;
  margin: 0; }

.message a {
  text-decoration: underline;
  color: gray;
  font-size: 15px; }

.title {
  font-weight: 500;
  font-size: 20px; }

.text-account {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

/*======MEDIA QUERIES====*/
@media (max-width: 1024px) {
  /*======Nav====*/
  .search-bar input {
    width: auto; } }

@media (max-width: 768px) {
  .disp-none {
    display: none; }
  /*======Footer====*/
  .footer-1 {
    flex-direction: column;
    justify-content: center; }
  .section-index1 {
    justify-content: center; }
  .cart {
    width: 500px; }
  .title-marl {
    margin-left: 1.5rem; }
  .size-iframe {
    width: 200px;
    height: 300px; }
  .contact-iframe {
    width: 220px;
    height: 300px; }
  .title-stores h2 {
    font-size: 40px; }
  .title-stores h3 {
    font-size: 25px; }
  .h2-contact {
    width: 65%; } }

@media (max-width: 425px) {
  .nav-2 {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .nav-1 {
    flex-wrap: wrap; }
  .back-guitar {
    height: 220px;
    width: fit-content; }
  .back-drum {
    height: 220px;
    width: fit-content; }
  .chat img {
    height: auto;
    width: 50px;
    bottom: 10px;
    right: 40px; }
  .h1-section2 {
    width: 350px;
    transform: translateX(0px);
    text-align: center; }
  .main-titleAccesorios {
    height: 150px; }
  .main-titleGuitar {
    height: 150px; }
  .main-titleBass {
    height: 150px; }
  .main-titleDrums {
    height: 150px; }
  .main-titleCourse {
    height: 150px; }
  .main-titleClassic {
    height: 150px; }
  .main-title h3 {
    font-size: 20px; }
  .main-title h1 {
    font-size: 50px; }
  .cart {
    width: auto; }
  #h1-cart {
    transform: translateX(100px);
    width: 200px; }
  .main-titleContact {
    height: 100px; }
  .title-stores h2 {
    font-size: 30px; }
  .h2-contact {
    width: 75%; } }

@media (max-width: 375px) {
  .h1-section2 {
    width: 270px;
    transform: translateX(20px); } }

@media (max-width: 320px) {
  .h1-section2 {
    transform: translateX(0px); } }
