/*=========CUENTA=============*/
.account{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.message{
    font-weight: 500;
    color: gray;
    font-size: 15px;
    margin: 0;
}
.message a{
    text-decoration: underline;
    color: gray;
    font-size: 15px;
}
.title{
    grid-area: title;
    font-weight: 500;
    font-size: 20px;
}
.button-account{
    grid-area: button;
}
.text-account{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}