/*=========CARRITO=========*/
.cart{
    border: solid 2px black;
    text-align: center;
    height: 350px;
    width: 150vh;
}
.cart-img{
    width: 100px;
    height: auto;
}
#button-cart a{
    color: #fff;
}
#h1-cart{
    transform: translateX(200px);
    width: 400px;
}