/*=========CONTACTO=============*/
.main-titleContact{
    height: 200px;
    background-image: url(../public/images/contact-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
}

//Aplicación bucle
.title-stores {
    @for $i from 1 to 4{
        h#{$i}{
            border-bottom: $border-contact;
        }
    }
} 
.list-contact{
    list-style: none;
    font-weight: 500;
}
.title-marl{
    margin-left: 3rem;
}
