/*=========CONTACTO=============*/
.main-titleContact{
    height: 200px;
    background-image: url(../public/images/contact-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
}
.title-stores h1{
    border-bottom: solid 3px #ff9910;
}
.title-stores h2{
    border-bottom: solid 3px #ff9910;
}
.title-stores h3{
    border-bottom: solid 3px #ff9910;
}
.list-contact{
    list-style: none;
    font-weight: 500;
}
