/*=======INDEX MAIN==========*/
.carousel-h{
    height: 400px;
}
.main-bar{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: $second-color;
}

.bar-primary{
    font-weight: 500;
}
/*=======INDEX SECTION 1==========*/
.section-index1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section-index1 p{
    font-weight: 500;
    margin: 0;
    color: $second-color;
    font-size: 20px;
}
.back-guitar{
    @include back-index;
    background-image: url(../public/images/background-guitar.jpg);
    }
.back-drum{
    @include back-index;
    background-image: url(../public/images/background-drum.jpg);
    }
#p-1g{
    color: $third-color;
    font-size: 30px;
}
#p-2g{
    border:solid 1px $second-color;
    background-color: $second-color;
    color: #000;
    text-align: center;
    width: 100px;
}
/*=======INDEX SECTION 2==========*/
.h2-section2{
    transform: translateX(30px);
    width: 400px;
}
.margin{
    transform: translateX(50px);
}
/*=======INDEX SECTION 3==========*/
.section-index3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.section3-img{
    width: 100px;
    height: auto;
}
/*=======INDEX SECTION 4==========*/
.img-center{
    transform: translateX(30px);
    width: max-content;
    height: auto;
}
/*=======INDEX SECTION 5==========*/
.div-about{
    font-weight: 500;
    text-align: justify;
    padding: 10px;
    margin: 0;
}
.div-formulario{
    font-weight: 500;
    text-align: center;
    padding: 15px;
}
.chat img{
    height: auto;
    width: 75px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}