/*======MEDIA QUERIES====*/
@media (max-width:1024px){
    /*======Nav====*/
    .search-bar input{
        width: auto;
    }
    /*======course====*/
    .grid2-contact{
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5);
    }
}


@media (max-width:768px){
    
    .disp-none{
        display: none;
    }
    /*======Footer====*/
    .footer-1{
        flex-direction: column;
        justify-content: center;
    }
    //index
    .section-index1{
        justify-content: center;
        
    }
    //Carrito
    .cart{
        width: 500px;
    }
    .title-marl{
        margin-left: 1.5rem;
    }
    .size-iframe{
        width: 200px;
        height: 300px;
    }
    //contact
    .contact-iframe{
        width: 220px;
        height: 300px;
    }
    .title-stores h2{
        font-size: 40px;
    }
    .title-stores h3{
        font-size: 25px;
    }
    .h2-contact{
        width: 65%;
    }
    //contact
    .mainGrid-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar{
        border-right: none;
    }
}

@media (max-width: 425px){
    .nav-2{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .nav-1{
        flex-wrap: wrap;
    }
    //Index
    .back-guitar{
        height: 220px;
        width: fit-content;
    }
    .back-drum{
        height: 220px;
        width: fit-content;
    }
    .chat img{
        height: auto;
        width: 50px;
        bottom: 10px;
        right: 40px;
    }
    .h1-section2{
        width: 350px;
        transform: translateX(0px);
        text-align: center;
    }
    //Productos
    .main-titleAccesorios{
        height: 150px;
    }
    .main-titleGuitar{
        height: 150px;
    }
    .main-titleBass{
        height: 150px;
    }
    .main-titleDrums{
        height: 150px;
    }
    .main-titleCourse{
        height: 150px;
    }
    .main-titleClassic{
        height: 150px;
    }
    .main-title h3{
        font-size: 20px;
    }
    .main-title h1{
        font-size: 50px;
    }
    //Carrito
    .cart{
        width: auto;
    }
    #h1-cart{
        transform: translateX(100px);
        width: 200px;
    }
    //Contact
    .main-titleContact{
        height: 100px;
    }
    .title-stores h2{
        font-size: 30px;
    }
    .h2-contact{
        width: 75%;
    }
    //course
    .grid2-contact{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 375px){
    .h1-section2{
        width: 270px;
        transform: translateX(20px);
    }
}
@media (max-width: 320px){
    .h1-section2{
        transform: translateX(0px);
    }
}