/*=======PRODUCTOS==========*/
.main-titleGuitar{
    height: 250px;
    background-image: url(../public/images/guitarra-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-title h3{
    font-size: 40px;
    color: #fff;
    width: fit-content;
}
.main-title h1{
    font-size: 100px;
    color: #ff9910;
}
.sidebar{
    border-right: solid 1px gray;
    padding-left: 10px;
    margin: 5px;
}
.list-items li{
    list-style-type: none;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}
.sidebar h2{
    text-align: center;
}
.main-titleDrums{
    height: 250px;
    background-image: url(../public/images/bateria-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 60%;
}
.main-titleBass{
    height: 250px;
    grid-area: main;
    background-image: url(../public/images/bajo-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.main-titleAccesorios{
    height: 250px;
    background-image: url(../public/images/accesorios-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;    
}
.main-titleClassic{
    height: 250px;
    background-image: url(../public/images/classic-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.main-titleCourse{
    height: 250px;
    background-image: url(../public/images/course-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;    
}